@page
@using Lionsoft.Helpers;
@using Lionsoft.Models;
@using System.Text.RegularExpressions;
@using System.Xml.XPath;
@model Lionsoft.Pages.SquashModel
@{
    ViewData["Title"] = "Squash";
    var events = RezonSiteParserHelper.GetEvents();
    var playerList = new List<PlayerDataModel>();
    playerList.Add(PlayerSiteParserHelper.GetPlayerData(31483, 38681));
    playerList.Add(PlayerSiteParserHelper.GetPlayerData(31492, 38542));
    var i = 0;
    string Concat(string text, int i) => $"{text}{i}";
}

<div class="text-center">
    @foreach (var player in playerList)
    {
        <h1 class="display-4">@player.Name</h1>
        <a href="@player.Bo5Link" class="btn btn-info btn-sm" target="_blank">Bo5</a>
        <a href="@player.PsLink" class="btn btn-info btn-sm" target="_blank">Polski Squash</a>
        <table class="table">
            @foreach (var rank in player.Ranking)
            {
                <tr>
                    <td>@rank.Name</td>
                    <td><b>@rank.Position</b></td>
                    <td>@rank.Points</td>
                </tr>
            }
        </table>
    }
    <h1 class="display-4">Wydarzenia w Rezonie</h1>
    <div class="accordion" id="accordionExample">
    @foreach (var singleEvent in events)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="@Concat("headingOne", i)">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@Concat("#collapseOne", i)" aria-expanded="true" aria-controls="@Concat("collapseOne", i)">
                    @singleEvent.Name
                </button>
            </h2>
            <div id="@Concat("collapseOne", i)" class="accordion-collapse collapse" aria-labelledby="@Concat("headingOne", i)" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                @foreach (var link in singleEvent.Links)
                {
                    <a href="@link.Link" target="_blank" class="btn btn-info" style="margin-bottom:1px">@link.Name</a>
                }
                </div>
            </div>
        </div>
    i++;
    }
    </div>
</div>