@page
@using Lionsoft.Helpers;
@using Lionsoft.Models;
@using System.Text.RegularExpressions;
@using System.Xml.XPath;
@model Lionsoft.Pages.SquashModel
@{
    ViewData["Title"] = "Squash";
    var rezonSiteParserHelper = new Bo5ClubSiteParserHelper();
    var rezonEvents = rezonSiteParserHelper.GetEvents("rezon");
    var elevenPointEvents = rezonSiteParserHelper.GetEvents("11punkt");
    var playerSiteParserHelper = new PlayerSiteParserHelper();
    var playerList = playerSiteParserHelper.GetPlayersData();
    var i = 0;
    string Concat(string text, int i) => $"{text}{i}";
    string HideRow(string text) => string.IsNullOrEmpty(text) ? "display:none;" : string.Empty;
    string SelectButtonColor(bool status) => status ? "btn btn-info" : "btn btn-secondary";
}

<div class="text-center">
    @await foreach (var player in playerList)
    {
        <h1 class="display-4">@player.Name</h1>
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" >
                <button class="nav-link active" id="@Concat("nav-ranking-tab", i)" data-bs-toggle="pill" data-bs-target="@Concat("#nav-ranking", i)" type="button" role="tab" aria-controls="@Concat("nav-ranking", i)" aria-selected="true">Ranking</button>
                <button class="nav-link" id="@Concat("nav-playin-tab", i)" data-bs-toggle="pill" data-bs-target="@Concat("#nav-playin", i)" type="button" role="tab" aria-controls="@Concat("nav-playin", i)" aria-selected="false">Zagra w (@player.Events.Count())</button>
                <button class="nav-link" id="@Concat("nav-links-tab", i)" data-bs-toggle="pill" data-bs-target="@Concat("#nav-links", i)" type="button" role="tab" aria-controls="@Concat("nav-links", i)" aria-selected="false">Linki</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width:100%">
                <div class="tab-pane fade show active" id="@Concat("nav-ranking", i)" role="tabpanel" aria-labelledby="@Concat("nav-ranking-tab", i)" tabindex="0">
                    <table class="table">
                    @foreach (var rank in player.Ranking)
                    {
                        <tr>
                            <td>@rank.Name</td>
                            <td><strong>@rank.Position</strong></td>
                            <td>@rank.Points</td>
                        </tr>
                        <tr style="@HideRow(rank.BestPosition)">
                            <td colspan="3"><strong>@rank.BestPosition</strong></td>
                        </tr>
                    }
                    </table>
                </div>
                <div class="tab-pane fade" id="@Concat("nav-playin", i)" role="tabpanel" aria-labelledby="@Concat("nav-playin-tab", i)" tabindex="0">
                    <div style="padding:10px">
                    @foreach (var eventData in player.Events)
                    {
                        <a href="@eventData.Url" class="btn btn-info btn-sm" target="_blank">@eventData.Name</a>
                    }
                    </div>
                </div>
                <div class="tab-pane fade" id="@Concat("nav-links", i)" role="tabpanel" aria-labelledby="@Concat("nav-links-tab", i)" tabindex="0">
                    <div style="padding:10px">
                        <a href="@player.Bo5Link" class="btn btn-info btn-sm" target="_blank">Bo5</a>
                        <a href="@player.PsLink" class="btn btn-info btn-sm" target="_blank">Polski Squash</a>
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
    <h1 class="display-4">Wydarzenia w Rezonie</h1>
    <div class="accordion" id="accordionEvents">
        @await foreach (var singleEvent in rezonEvents)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="@Concat("heading", i)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@Concat("#collapse", i)" aria-expanded="false" aria-controls="@Concat("collapse", i)">
                        @singleEvent.Name
                    </button>
                </h2>
                <div id="@Concat("collapse", i)" class="accordion-collapse collapse" aria-labelledby="@Concat("heading", i)" data-bs-parent="#accordionEvents">
                    <div class="accordion-body">
                        @foreach (var link in singleEvent.Links)
                        {
                            <a href="@link.Link" target="_blank" class="@SelectButtonColor(link.IsUpToDate)">@link.Name</a>
                        }
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
    <h1 class="display-4">Wydarzenia w 11 punkcie</h1>
    <div class="accordion" id="accordionEvents">
        @await foreach (var singleEvent in elevenPointEvents)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="@Concat("heading", i)">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@Concat("#collapse", i)" aria-expanded="false" aria-controls="@Concat("collapse", i)">
                        @singleEvent.Name
                    </button>
                </h2>
                    <div id="@Concat("collapse", i)" class="accordion-collapse collapse" aria-labelledby="@Concat("heading", i)" data-bs-parent="#accordionEvents">
                    <div class="accordion-body">
                        @foreach (var link in singleEvent.Links)
                        {
                            <a href="@link.Link" target="_blank" class="btn btn-info">@link.Name</a>
                        }
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
</div>